@mixin table-size() {
    @media (max-width: 992px) {
        margin: 0px 50px 0px 50px;
    }
}

@mixin mobile-size() {
    @media (max-width: 768px) {
        margin: 0px 30px 0px 30px;
    }
}

@mixin xs-mobile-size() {
    @media (max-width: 576px) {
        margin: 0px 15px 0px 15px;
    }
}

.tab-container {
    margin-top: 40px;

    .Mui-selected {
        color: #FF0D87 !important;
        font-family: GalanoGrotesqueExtraBold !important;
    }

    .tab-item {
        text-transform: none;
        font-family: GalanoGrotesqueRegular;
        font-style: normal;
        font-size: 16px;
        line-height: 26px;
        color: #000000;
    }

    .box-under-tabs {
        height: 52px;
        width: 100%;
        background: #F5F5F5;
        margin-top: 16px;

        .container {
            position: relative;
            margin: 0px 83px 0px 83px;
            @include table-size;
            @include mobile-size;
            @include xs-mobile-size;

            .filtering-field {
                display: flex;
                .filtering-icon{
                    user-select: none;
                    cursor: pointer;
                }
                .filters-button {
                    font-family: GalanoGrotesqueRegular;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 26px;
                    color: #FF0D87;
                    margin-left: 12px;
                    user-select: none;
                    cursor: pointer;
                }

                .filters-button:hover {
                    color: #e475ac;
                    transition: color 0.5s;
                }
            }

            .calender-field {
                display: flex;
                justify-content: flex-end;

                .calender-button {
                    font-family: GalanoGrotesqueRegular;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 26px;
                    color: #000000;
                    margin-left: 15px;
                    user-select: none;
                    cursor: pointer;
                }

                .calender-button:hover {
                    color: #5a5a5a;
                    transition: color 0.5s;
                }
            }
        }
    }


}