@font-face {
    font-family: GalanoGrotesqueBold;
    src: url("./assets/fonts/galano/GalanoGrotesqueBold.otf");
}

@font-face {
    font-family: GalanoGrotesqueExtraBold;
    src: url("./assets/fonts/galano/GalanoGrotesqueExtraBold.otf");
}

@font-face {
    font-family: GalanoGrotesqueMedium;
    src: url("./assets/fonts/galano/GalanoGrotesqueMedium.otf");
}

@font-face {
    font-family: GalanoGrotesqueRegular;
    src: url("./assets/fonts/galano/GalanoGrotesqueRegular.otf");
}

* {
    margin: 0;
}
